.stock-management {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    font-weight: bold;
  }

  ::ng-deep .mat-tab-group {
    .mat-tab-header {
      border-bottom: 1px solid #000; 
    }

    

    .mat-tab-label-container {
      margin-bottom: 0px; 
    }

    .mat-tab-labels {
      background-color: transparent;
      padding: 0; 
    }

    .mat-tab-label {
      opacity: 1;
      padding: 0 20px;
      height: 40px;
      min-width: 120px;
      margin-right: 5px;
      margin-bottom: 0; 
      border-top-left-radius: 10px; 
      border-top-right-radius: 10px; 
      border-bottom-left-radius: 0;  
      border-bottom-right-radius: 0;
      background-color: transparent; 
      color: black; 
      display: flex;
      align-items: center; 

      &:not(.mat-tab-label-active) {
        background-color: transparent; 
      }

      &.mat-tab-label-active {
        background-color: black; 
        color: white; 
        border-bottom: none;
      }
    }

    .mat-tab-label-content {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 8px;
      }
    }

    .mat-ink-bar {
      display: none !important; 
    }
  }

  .overview {
    margin-bottom: 20px;
  }

}
