<div class="category-table-container">
  <h3>{{ tableTitle }}</h3> 
  
  <table mat-table [dataSource]="categoryData" class="mat-elevation-z8" [ngClass]="{'has-action-columns': actionColumnsPresent}">
    <!-- Dynamic columns based on the `dynamicColumns` input -->
    <ng-container *ngFor="let column of dynamicColumns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column.key] }}</td>
    </ng-container>

    <!-- Slide Toggle Column -->
    <ng-container *ngIf="showToggle" matColumnDef="toggle">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="element.isActive" (change)="onToggleChange(element)"></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Edit Icon Column -->
    <ng-container *ngIf="showEdit" matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onEdit(element)">
          <mat-icon>edit_note</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
